.contactInfo {
  width: 100%;
  max-width: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactInfo .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.contactInfo .contactTile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border: 1px solid #261A4C;
  border-radius: 4px;
  padding: 12px 24px;
}
.contactInfo .contactTile img {
  width: 32px;
  height: 32px;
}
.contactInfo .contactTile:has(p) img {
  margin-right: 12px;
}
.contactInfo .contactTile:hover {
  transform: scale(0.9);
}
.contactInfo .row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}
.contactInfo .row .contactTile {
  padding: 12px 52px;
}

@media (max-width: 760px) {
  .contactInfo .row {
    column-gap: 24px;
  }
  .contactInfo .row .contactTile {
    padding: 6px 48px;
  }
  .contactInfo .contactTile {
    padding: 6px 12px;
  }
}
