.contactSection > p {
  text-align: center;
}
.contactSection .row {
  margin: auto;
  margin-top: 36px;
  width: 920px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contactSection .row > p {
  font-size: 18px;
  font-weight: 500;
  margin: 0px 48px;
  color: #673de6;
}

@media (max-width: 950px) {
  .contactSection .row {
    width: 100%;
  }
  .contactSection .row > p {
    margin: 0px;
  }
}
@media (max-width: 760px) {
  .contactSection .row {
    flex-direction: column;
  }
  .contactSection .row > p {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 32px;
    color: #673de6;
  }
}
