.footer {
  width: 100%;
  padding: 12px 0;
  background: #261A4C;
  margin-Top: 60px;
}
.footer .footerInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footerInnerContainer p,
.footer .footerInnerContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 33%;
  line-height: 1.3;
}
.footer .footerInnerContainer a:hover {
  text-decoration: underline;
}
.footer .footerInnerContainer p a {
  width: unset;
  margin-left: 4px;
}

@media (max-width: 480px) {
  .footer .footerInnerContainer {
    flex-direction: column;
  }
  .footer .footerInnerContainer p,
  .footer .footerInnerContainer a {
    width: 100%;
    margin: 8px 0;
  }
}
