.quote {
  width: 100%;
  max-width: 430px;
  height: auto;
  border: 1px solid #673de6;
  border-radius: 4px;
  padding: 12px 24px 17px;
  position: relative;
}
.quote .quote__text {
  width: 100%;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;
  color: #673de6;
}
.quote .quote__author {
  position: absolute;
  bottom: -12px;
  right: 16px;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #673de6;
  padding: 2px 8px;
  border-radius: 2px;
}
