.serviceTile {
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  width: 30%;
  max-width: 420px;
  height: 220px;
  min-height: 220px;
  border: 1px solid #261A4C;
  transform-style: preserve-3d;
  transition: 0.2s linear;
}
.serviceTile .tileHeader {
  display: flex;
  align-items: left;
  margin-bottom: 12px;
}
.serviceTile .tileHeader img {
  width: 60px;
  height: auto;
  object-fit: contain;
  margin-right: 12px;
}
.serviceTile .tileHeader .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.serviceTile .tileHeader .text p {
  font-family: var(--font-poppins);
  color: #261A4C;
  text-align: left;
}
.serviceTile .tileHeader .text .title2 {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #FC5185;
  text-align: left;
}
.serviceTile .hr {
  width: 100%;
  height: 1px;
  background: #FC5185;
}
.serviceTile .description {
  margin-top: 12px;
  font-family: var(--font-poppins);
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
.serviceTile .tileFooter {
  position: absolute;
  bottom: -16px;
  right: 24px;
  background: #261A4C;
  width: 100px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s linear;
}
.serviceTile .tileFooter:hover {
  background: #FC5185;
  bottom: -18px;
  right: 18px;
}
.serviceTile .tileFooter input {
  display: none;
}
.serviceTile .tileFooter p {
  color: white;
  font-family: var(--font-nunito);
  font-size: 14px;
  font-weight: 800;
  margin-right: 6px;
}
.serviceTile .tileFooter img {
  width: 8px;
  object-fit: contain;
}
.serviceTile:has(input:checked) {
  transform: rotateY(180deg);
}
.serviceTile:has(input:checked) .front {
  display: none;
}
.serviceTile:has(input:checked) .back {
  display: block;
}
.serviceTile .front {
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 20px 22px;
  height: 100%;
  width: 100%;
}
.serviceTile .back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 20px 22px;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}
.serviceTile .back .tileFooter {
  right: unset;
  left: 24px;
}
.serviceTile .back .tileFooter img {
  transform: rotate(180deg);
  margin-right: 6px;
}

@media (max-width: 1360px) {
  .serviceTile:has(input:checked) {
    height: 240px;
  }
}
@media (max-width: 1200px) {
  .serviceTile {
    height: 240px;
  }
  .serviceTile:has(input:checked) {
    height: 320px;
  }
}
@media (max-width: 1020px) {
  .serviceTile {
    width: 45%;
    max-width: 45%;
  }
  .serviceTile:has(input:checked) {
    height: 220px;
  }
}
@media (max-width: 910px) {
  .serviceTile:has(input:checked) {
    height: 240px;
  }
}
@media (max-width: 760px) {
  .serviceTile:has(input:checked) {
    height: 290px;
  }
}
@media (max-width: 700px) {
  .serviceTile {
    width: 100%;
    max-width: 100%;
    min-height: 190px;
  }
  .serviceTile:has(input:checked) {
    height: 190px;
  }
}
@media (max-width: 450px) {
  .serviceTile {
    height: 220px;
  }
  .serviceTile:has(input:checked) {
    height: 240px;
  }
  .serviceTile .tileFooter {
    right: 12px;
  }
  .serviceTile .back .tileFooter {
    right: unset;
    left: 12px;
  }
}
