.technologies p {
  text-align: center;
}
.technologies .slider {
  height: 64px;
  margin: auto;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}
.technologies .slider .sliderTrack {
  display: flex;
  height: 100%;
  animation: scroll 40s linear infinite;
}
.technologies .slider .sliderTrack .slide {
  height: 100%;
  width: auto;
  margin: 0 12px;
}
.technologies .slider .sliderTrack .slide img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-928px);
  }
}
