.timeLineTile {
  padding: 0 6px;
  width: 100%;
  max-width: 400px;
  display: flex;
}
.timeLineTile .left {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeLineTile .left img {
  width: 64px;
  height: auto;
  object-fit: contain;
}
.timeLineTile .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.timeLineTile .right .date {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 14px;
  color: #261A4C;
  margin-bottom: 3px;
  line-height: 1;
  text-align: left;
}
.timeLineTile .right .title {
  font-family: var(--font-nunito);
  font-weight: 800;
  font-size: 18px;
  color: #261A4C;
  margin-bottom: 6px;
  line-height: 1;
  text-align: left;
}
.timeLineTile .right .info {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 16px;
  color: #FC5185;
  margin-bottom: 12px;
  line-height: 1;
  text-align: left;
}
.timeLineTile .right ul {
  list-style: disc;
  margin-left: 32px;
}
.timeLineTile .right ul li {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 16px;
  color: #261A4C;
  margin-bottom: 6px;
  line-height: 1;
  text-align: left;
}
