@use "../helpers/variables.scss";

.contactSection {
    &>p {
        text-align: center;
    }

    .row {
        margin: auto;
        margin-top: 36px;
        width: 920px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &>p {
            font-size: 18px;
            font-weight: 500;
            margin: 0px 48px;
            color: variables.$purple;
        }
    }

}