@use "../helpers/variables.scss";

.footer {
    width: 100%;
    padding: 12px 0;
    background: variables.$deep-purple;
    margin-Top: 60px;

    .footerInnerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p,
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: variables.$poppins;
            color: white;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            width: 33%;
            line-height: 1.3;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            a {
                width: unset;
                margin-left: 4px;
            }
        }
    }
}

@media(max-width: 480px) {
    .footer {
        .footerInnerContainer {
            flex-direction: column;

            p,
            a {
                width: 100%;
                margin: 8px 0;
            }
        }
    }
}