@use "../helpers/variables.scss";

@keyframes mvLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes mvRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(-10px);
    }
}

.personSlider {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .p1 {
        width: 100%;
        text-align: right;
        margin-bottom: 12px;
    }




    .slider {
        width: 626px;
        height: 372px;
        overflow-y: hidden;
        overflow-x: scroll;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        .slideTrack {
            position: absolute;
            display: flex;
            column-gap: 32px;
        }
    }

    .sliderNav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 6px;

        .prev,
        .next {
            display: flex;

            img {
                width: 138px;
                height: auto;
                object-fit: contain;
                margin: 0 6px;
            }

            .navText {
                font-family: variables.$nunito;
                font-size: 14px;
                font-weight: 700;
                color: variables.$deep-purple;
            }
        }

        .next {
            &:hover {
                cursor: pointer;
                animation: mvLeft .6s;
                transform: translateX(10px);
            }

            img {
                transform: rotate(180deg);
            }
        }

        .prev {
            &:hover {
                cursor: pointer;
                animation: mvRight .6s;
                transform: translateX(-10px);
            }
        }
    }
}

@media(max-width: 1180px) {
    .personSlider {
        width: 570px;

        .slider {
            width: 570px;

            .slideTrack {
                column-gap: 0px;
            }
        }
    }
}

@media(max-width: 1000px) {
    .personSlider {
        margin-top: 24px;
        width: 280px;
        height: 370px;

        .p1 {
            font-size: 14px;
            margin-bottom: -20px;
        }

        .slider {
            width: 280px;
        }

        .sliderNav {
            margin-top: 6px;

            .prev,
            .next {
                img {
                    width: 74px;
                }

                .navText {
                    font-size: 12px;
                }
            }
        }


    }
}

@media(max-width: 700px) {
    .personSlider {
        width: 100%;
        height: 420px;

        .p1 {
            font-size: 16px;
            margin-bottom: 6px;
        }

        .slider {
            margin: 0px auto;
            width: 100%;

            .slideTrack {
                column-gap: 0px;
            }
        }

        .sliderNav {
            margin-top: 0px;
            width: 90%;

            .prev,
            .next {
                img {
                    width: 120px;
                }

                .navText {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 430px) {
    .personSlider {
        .sliderNav {
            margin-top: 0px;
            width: 90%;

            .prev,
            .next {
                img {
                    width: 80px;
                }

                .navText {
                    font-size: 14px;
                }
            }
        }
    }
}