.technologies {
    p {
        text-align: center;
    }

    .slider {
        height: 64px;
        margin: auto;
        margin-top: 24px;
        position: relative;
        overflow: hidden;
        // background: red;

        .sliderTrack {
            display: flex;
            height: 100%;
            animation: scroll 40s linear infinite;

            .slide {
                height: 100%;
                width: auto;
                margin: 0 12px;

                img {
                    height: 100%;
                    width: auto;
                    object-fit: contain;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-58px * 16));
    }
}