.heroSection {
    display: flex;
    justify-content: center;

    .left {
        margin-top: 28px;
        margin-right: 104px;
    }

    .right {
        margin-top: 64px;

        img {
            width: 520px;
            height: auto;
            object-fit: contain;
        }
    }
}

.serviceSection {
    margin-top: 86px;
}

.contactSection {
    margin-top: 86px;
}

@media (max-width: 1250px) {
    .heroSection {
        .left {
            margin-right: 0;
        }

        .right {
            margin-top: 86px;

            img {
                width: 460px;
            }
        }
    }
}

@media (max-width: 840px) {
    .heroSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left {
            margin-right: 0;
        }

        .right {
            margin-top: 64px;

            img {
                width: 100%;
            }
        }
    }
}