.heroSection {
  display: flex;
  justify-content: center;
}
.heroSection .left {
  margin-top: 28px;
  margin-right: 104px;
}
.heroSection .right {
  margin-top: 64px;
}
.heroSection .right img {
  width: 520px;
  height: auto;
  object-fit: contain;
}

.serviceSection {
  margin-top: 86px;
}

.contactSection {
  margin-top: 86px;
}

@media (max-width: 1250px) {
  .heroSection .left {
    margin-right: 0;
  }
  .heroSection .right {
    margin-top: 86px;
  }
  .heroSection .right img {
    width: 460px;
  }
}
@media (max-width: 840px) {
  .heroSection .left {
    margin-right: 0;
  }
  .heroSection .right {
    margin-top: 124px;
  }
  .heroSection .right img {
    width: 360px;
  }
}
@media (max-width: 700px) {
  .heroSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroSection .left {
    margin-right: 0;
  }
  .heroSection .right {
    margin-top: 64px;
  }
  .heroSection .right img {
    width: 100%;
  }
}
@media (max-width: 525px) {
  .heroSection .right {
    margin-top: 36px;
  }
  .serviceSection {
    margin-top: 64px;
  }
}
