.politykaPrywatnosci h1 {
  margin-bottom: 24px;
}
.politykaPrywatnosci h2 {
  text-align: left;
}
.politykaPrywatnosci hr {
  margin: 12px 0;
  width: 100%;
  height: 1px;
  background: black;
}
.politykaPrywatnosci ol {
  list-style: decimal;
  margin-left: 32px;
}
.politykaPrywatnosci ol li {
  font: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #261A4C;
}
.politykaPrywatnosci ol li ul {
  margin-left: 24px;
  list-style-type: disc;
}
.politykaPrywatnosci ol li ul li {
  font: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #261A4C;
}

@media (max-width: 820px) {
  .politykaPrywatnosci {
    margin-top: 32px !important;
    padding-top: 24px;
  }
  .politykaPrywatnosci h2 {
    font-size: 18px !important;
  }
  .politykaPrywatnosci ol {
    margin: 14px;
  }
}
