@use "helpers/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: variables.$poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: normal;
    color: variables.$deep-purple;
}

h2 {
    text-align: center;
}

p {
    font-family: variables.$poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    color: variables.$deep-purple;
}

.button {
    position: relative;
    padding: 12px 24px;
    border-radius: 4px;
    font-family: variables.$poppins;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid variables.$deep-purple;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$deep-purple;
    transition: all 0.3s ease-in-out;
    background: white;
    cursor: pointer;

    &.active {
        background-color: variables.$deep-purple;
        color: white;

        &:hover {
            background-color: transparent;
            color: variables.$deep-purple;
        }
    }

    &:hover {
        background-color: variables.$deep-purple;
        color: white;
    }

    img {
        width: 32px;
        height: 32px;
    }

    &:has(img) {
        max-height: 40px;
        max-width: 60px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: transparent;
            transform: rotate(12deg);
        }
    }

    &.badge::after {
        content: "Polecane";
        position: absolute;
        background-color: #FFD700;
        color: variables.$deep-purple;
        top: -18px;
        right: -16px;
        font-family: variables.$poppins;
        font-weight: 700;
        font-size: 12px;
        padding: 6px 12px;
        border-radius: 2px;
        transition: 0.2s linear;
    }

    &.badge:hover::after {
        top: -22px;
        right: -20px;
    }
}

.purple {
    color: variables.$purple;
}

.badgeWithText {
    margin-top: 6px;
    display: flex;
    align-items: center;

    img {
        height: 20px;
        width: auto;
        object-fit: contain;
        margin-right: 6px;
    }

    p {
        font-size: 14px;
    }
}